<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%=data %></p>

    <form action="/form" method="POST">
      <input name="test1" value="val1"/>
      <input name="test2" value="val2"/>
      <button type="submit">Soumettre</button>
    </form>
  </body>
</html>
